footer{
  ul {
    list-style: none;
    margin-left: 0;

    li{
      display: inline;
      padding-right: 0.5em;

      @media #{$medium-up} {
        padding: 0.5em;
      }


      a {
        @include transition(all 0.2s);
      }
    }
  }

// Social Media Menu
// - - - - - - - - - - - - - - - - - - - - - - - - -
  .block-menu-menu-social {
    overflow: hidden;
    .block-title {
      z-index: 10;
      margin-bottom: 0;
    }

    .block-wrapper {
      @include transform(skewX(20deg));
      width: 96%;
      margin-left: 2%;
      background: $lt-grey;
    }

    ul {
      line-height: 5.25em;
      text-align: center;
      margin: -1em 0 2.5em 0;
      @include transform(skewX(-20deg));
      

      li{
        padding: 0.75em;

        @media #{$medium-up} {
          padding: 1.5em;
        }

        svg{
          fill: $pink;
          height: 1.25em;
          width: 1.25em;
          @include transition(all 0.2s);
        }

        &:hover svg{
          fill: $blue;
        }
      }
    }
  }

// Newsletter Subscribtion
// - - - - - - - - - - - - - - - - - - - - - - - - -
  #simple-subscription-form{
    .simple_subscription_header{
      font-weight: bold;
      color: $blue;
      text-transform: uppercase;
    }
    .form-item {
      display: inline;
    }

    input {
      width: 60%;

      @media #{$medium-up} {
        width: 70%;
      }
      display: inline;
    }

    button {
      text-transform: uppercase;
      font-weight: bold;
      @include transform(skewX(-10deg));
      padding: 0.5em 2em;
      margin-left: -1em;
      position: relative;
      color: $pink;

      &:after {
        content: 'Submit';
        display: block;
        position: absolute;
        color: $white;
        @include transform(skewX(10deg));
        top: 0.5em;
      }
    }
  }

// Main Footer Menu
// - - - - - - - - - - - - - - - - - - - - - - - - -
  .block-system-main-menu {
    ul {
      
      @media #{$medium-up} {
        float: right;
        clear: both;
      }

      li {
        a {
          text-transform: uppercase;
          font-weight: bold;
          color: $dk-grey;

          @media #{$small-only} {
            font-size: rem-calc(12);
          }

          &:hover{
            color: $pink;
          }
        }
      }
    }
  }

// Secondary Menu
// - - - - - - - - - - - - - - - - - - - - - - - - -
  .block-menu-menu-secondary-menu {
    ul {
      
      @media #{$medium-up} {
        float: right;
        clear: both;
      }

      li {
        a {
          text-transform: uppercase;
          font-weight: bold;
          color: $blue;
          font-size: rem-calc(9);

          @media #{$medium-up} {
            font-size: rem-calc(12);
          }

          &:hover{
            color: scale-color($blue, $lightness: -20%);
          }
        }
      }
    }
  }

// Address
// - - - - - - - - - - - - - - - - - - - - - - - - -
  .block-block-1 {

    @media #{$medium-up} {
      float: right;
      clear: both;
    }

    p {
      font-size: rem-calc(12);
    }

    a {
      color: $blue;
    }
  }

}